/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.pom.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/resources/public/js/out
/resources/public/js/compiled.js
/resources/test/compiled.js
/repl
*.log
node_modules
.shadow-cljs
dev-resources/public
